.texto {
	color: #444;
	font-size: 16px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
.titulos {
	color: #444;
	font-size: 18px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
.titulos2 {
	color: white;
	font-size: 18px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}